<h3> Station information </h3>
  <div class='station'> 
    Name: <div class='name'>  <%= @station_direction.name %> </div>
    Address: <div class='address'> <%= @station_direction.address %> </div>
    Fuel Type: <div class='fuel_type'> <%= @station_direction.fuel_type %> </div>
    Access Times: <div class='access_times'> <%= @station_direction.access_times %> </div>
  </div>

<h3> Direction information </h3>
  <div class='direction'> 
    Distance: <div class='distance'> <%= @station_direction.distance %> </div>
    Travel Time: <div class='travel_time'> <%= @station_direction.travel_time %> </div>
    Instructions: <div class='direction_instructions'> <%= @station_direction.direction_instructions.html_safe %> </div>
  </div>