<div class='station'> 
  <div class='name'> <%= @station.name %> </div>
  <div class='address'> <%= @station.address %> </div>
  <div class='fuel_type'> <%= @station.fuel_type %> </div>
  <div class='access_times'> <%= @station.access_times %> </div>
</div>

<div class='direction'> 
  <div class='distance'> <%= @direction.distance %> </div>
  <div class='travel_time'> <%= @direction.travel_time %> </div>
  <div class='direction_instructions'> <%= @direction.direction_instructions %> </div>
  <div class='access_times'> <%= @direction.access_times %> </div>
</div>